body {
    font-family: Arial, sans-serif;
}

.page1 {
    background: url('images/background1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page2 {
    background: url('images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page3 {
    background: url('images/background4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page4 {
    background: url('images/background3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.container {
    margin: 50px auto;
    background-color: rgba(248, 249, 250, 0.8);
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    text-align: center;
}

.nav {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nav-link {

    color: #fff;
    margin-bottom: 10px;

}

.nav-link.active {
    color: #007bff;
}

h1 {
    margin-bottom: 30px;
}

input[type="submit"], button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.logo {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -30%);
    width: 380px;
    height: 250px;
}
