<!DOCTYPE html>
<html>
<head>
    <title>Highlight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="page2">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button onclick="location.href='/'" class="nav-link btn btn-primary">Upload</button>
                    <button onclick="location.href='/highlight'" class="nav-link active btn btn-primary">Highlight</button>
                    <button onclick="location.href='/visualization'" class="nav-link btn btn-primary">Visualizations</button>
                    <button onclick="location.href='/prediction'" class="nav-link btn btn-primary">Prediction</button>
                </div>
                <div class="authors">by Eldar Shlomi, Or Lifchiz, and David Levine</div>
            </div>
            <div class="col-9">
                <h1>Highlight</h1>
                <form action="/highlight" method="POST">
                    <input type="submit" value="Highlight">
                </form>
                {% if highlighted_words %}
                    <p>
                    {% for word in highlighted_words %}
                        <span class="highlight">{{ word }}</span>
                    {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
</body>
</html>